.carousel-inner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

#team {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#nav {
    background-color: white;
    !important;
}

.carousel-caption {
    margin-bottom: 20%;
    font-family: 'Notable', sans-serif;
}

div.container hr {
    border-top: 2px solid #1565e6;
}

div.nav-text a {
    font-family: 'Graduate', cursive;
    color: #1565e6;
}

a:hover,
a:link,
a:active,
a:active {
    text-decoration: none;
}

#goalTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 65px;
}